<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.follow.dao.FollowDAO">
 	<insert id="insertFollow" parameterType="map">
 		INSERT INTO
 			`follow`
 		(
 			`userId_follower`
			,`userId_followed`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{followerUserId}
 			,#{followedUserId}
 			,NOW()
 		)
 	</insert>
 	<delete id="deleteFollow" parameterType="map">
 		DELETE FROM
 			`follow`
 		WHERE
 			`userId_follower` = #{followerUserId}
 			AND
 			`userId_followed` = #{followedUserId}
 	</delete>
 	<select id="selectFollowCountByFollowerUserIdOrFollowedUserId" parameterType="map" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`follow`
 		<choose>
	 		<when test="followerUserId != null and followedUserId != null">
	 		WHERE `userId_follower` = #{followerUserId}
	 			AND `userId_followed` = #{followedUserId}
	 		</when>
	 		<when test="followedUserId != null">
	 		WHERE `userId_followed` = #{followedUserId}
	 		</when>
	 		<when test="followerUserId != null">
		 	 WHERE `userId_follower` = #{followerUserId}
		 	</when>
 		</choose>
 	</select>
 </mapper>