<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sns.follow.dao.FollowDAO">
 	<insert id="insertFollow" parameterType="map">
 		INSERT INTO
 			`follow`
 		(
 			`followerUserId`
			,`followeeUserId`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{followerUserId}
 			,#{followeeUserId}
 			,NOW()
 		)
 	</insert>
 	<delete id="deleteFollow" parameterType="map">
 		DELETE FROM
 			`follow`
 		WHERE
 			`followerUserId` = #{followerUserId}
 			AND
 			`followeeUserId` = #{followeeUserId}
 	</delete>
 	<select id="selectFollowCountByFollowerUserIdOrFolloweeUserId" parameterType="map" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`follow`
 		<choose>
	 		<when test="followerUserId != null and followeeUserId != null"> <!--  팔로우 여부 확인 -->
	 		WHERE `followerUserId` = #{followerUserId}
	 			AND `followeeUserId` = #{followeeUserId}
	 		</when>
	 		<when test="followeeUserId != null"> <!-- 홈유저를 팔로우 한 사람을 찾아야할때 -->
	 		WHERE `followeeUserId` = #{followeeUserId}
	 		</when>
	 		<when test="followerUserId != null"> <!--  홈유저가 팔로우한 사람을 찾을때 -->
		 	 WHERE `followerUserId` = #{followerUserId}
		 	</when>
 		</choose>
 	</select>
 	<select id="selectFolloweeUserIdByFollowerUserId" parameterType="int" resultType="int">
 		SELECT
 			`followeeUserId`
 		FROM
 			`follow`
		WHERE `followerUserId` = #{followerUserId}
 	</select>
 	<select id="selectFollowerUserIdByFolloweeUserId" parameterType="int" resultType="int">
 		SELECT
 			`followerUserId`
 		FROM
 			`follow`
		WHERE `followeeUserId` = #{followeeUserId}
 	</select>
 </mapper>