@charset "UTF-8";
header {
	height: 100px;
}
a {
	color:black;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color:black;
	text-decoration: none;
}
.profileImg {
	height: 70px;
	width: 70px;
	border-radius: 70%;
	overflow:hidden;
}
.header-box {
	height: 100px;
}
section {
	min-height: 500px;
}
.signin-box {
	height:500px;
}
.infoBox {
	box-shadow: 10px 5px 5px rgb(201, 200, 200);
}
.card-profile{
	overflow:hidden;
	border-radius: 70%;
	height: 60px;
	margin-top: 5px;
	margin-left: 5px;
}
.post-box {
	width: 100%;
}
#postContent {
	border: none;
	width: 100%;
	min-height: 150px;
}
.post-card {
	border-radius: 10px;
}
.post-header {
	height: 70px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.comment-input {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.porfile-box {
	width: 757px;
	height: 150px;
}
#homeProfileImg{
	height: 120px;
	width: 120px;
	border-radius: 70%;
	overflow:hidden;
}
.followUserImg {
	height: 50px;
	border-radius: 70%;
	overflow:hidden;
}
#homePosts{
	min-height: 500px;
	width: 757px;
}
.message-box {
	height: 500px;
}
.message-history {
	height : 430px;
	width: 757px;
	overflow:auto;
}
.messageCard {
	max-width: 400px;
}
.search-box {
	width: 757px;
	height: 500px;
}
#followModal {
	display: none;
	background-color: gray;
	border-radius: 10%;
}
footer {
	height: 100px;
}